.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  width: 100%;
}

.label {
  font-size: var(--font-size-s);
  font-weight: 500;
  color: var(--text-secondary);
}

.inputField {
  padding: var(--padding-xs) var(--padding-s);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-s);
  font-size: var(--font-size-m);
  transition: border-color 0.2s;
}

.inputField:focus {
  outline: none;
  border-color: var(--primary-light);
  box-shadow: 0 0 0 3px
    color-mix(in srgb, var(--primary-light) 10%, transparent);
  background-color: var(--inputBackground);
}

.inputError {
  border-color: var(--error-red-light);
}

.inputError:focus {
  border-color: var(--error-red-light);
  box-shadow: 0 0 0 3px
    color-mix(in srgb, var(--error-red-light) 10%, transparent);
}
