.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  background-color: var(--white);
  border-radius: var(--radius);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.formTitle {
  color: var(--primary);
  font-size: var(--font-size-xl);
  margin-bottom: var(--margin-l);
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  width: 100%;
}

.submitButton {
  width: 100%;
  margin-top: var(--gap-m);
}

@media (max-width: 768px) {
  .container {
    padding: var(--padding-l) var(--padding-s);
  }
}

@media (min-width: 600px) {
  .row {
    flex-direction: row;
    gap: var(--gap-m);
  }

  .row > * {
    flex: 1;
  }

  .submitButton {
    width: auto;
    align-self: center;
    min-width: 200px;
  }
}
