@import url("https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&display=swap");

:root {
  --primary: #845ec2;
  --secondary: #4e8397;
  --inputBackground: #cdb4f6;
  --error-red: #ef4444;
  --white: #ffffff;
  --text-main: #1f2937;
  --bg-gray: #d5cabd;
  --font-size-xs: 0.75rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.75rem;
  --spacing-m: 1rem;
  --radius: 1rem;
  --gap-m: 1rem;
  --margin-m: 1rem;
  --margin-l: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Chiron GoRound TC", sans-serif;
}

.error {
  width: 75%;
  color: var(--error-red);
  font-size: var(var(--font-size-xs));
}
